#root {
  text-align: center;
}

body {
  align-items: flex-start;
}

.chatroom-display {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
  margin: 1px 0;
  background-color: #454545;
  width: 100vw;
  height: 100px;
}

.chatroom-display p {
  margin-right: auto;
}

.chatroom-display i {
  margin-left: 30px;
}

.chatroom-display i, .chatroom-display p {
  font-size: 2rem;
}

.chatroom-display button {
  margin-right: 30px;
  width: 200px;
}

button:focus {
  outline: none;
}

button:active {
  border: 1px solid white;
}

.chatrooms {
  margin: 50px 0;
}

h1 {
  text-align: center;
}

.room-name-input {
  width: 400px;
  height: 30px;
  margin-right: 20px;
}

.chatroom-page {
  display: flex;
  gap: 10px;
  width: 100vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.chatroom {
  height: 75vh;
  width: 60vw;
  background-color: #454545;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  overflow-y: scroll;
}

.message-form {
  display: flex;
  gap: 10px;
  width: calc(60vw + 40px);
}

.message-form input {
  width: 90%;
}

.message-form input:focus {
  outline: none;
}

.message-form button {
  width: 10%;
}

.home-button {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 1.2rem;
}

.sign-in {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sign-in button {
  position: relative;
  width: 40%;
  height: 80px;
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sign-in i {
  position: absolute;
  left: 0;
  margin-left: 20px;
}

.message-content {
  display: flex;
  flex-direction: column;
  height: fit-content;
  flex: auto;
}

.flex {
  display: flex;
  align-items: center;
  gap: 20px;
}

.flex-top {
  align-items: flex-start;
}

.username, .message-text {
  margin: 0;
  text-align: left;
}

.username {
  font-size: 1.4rem;
}

.date {
  font-size: 1rem;
  color: #AAAAAA;
}

.profile-picture {
  border-radius: 90px;
  height: 80px;
  width: auto;
}

.sign-out-button {
  width: 300px;
  margin-top: 100px;
}